@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

html {
  --primary-color: #3D95CE;
  --secondary-color: rgb(109, 31, 212);;
  --primary-font: 'Fredoka One', cursive;
  --secondary-font: 'Oswald', sans-serif;
  margin: 0px;
}

body {
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

#main_container {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

#login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font)
  
}
#scrooge {
  height: auto;
  width: 280px;
  margin-bottom: 20px;
}

#zelmo_title {
  font-size: 36pt;
  margin: 0px;
  letter-spacing: 3px;
  color: white;
}

#login_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

#google_logo {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

button {
  box-shadow: 0px 10px 14px -10px #000000;
  /* background:linear-gradient(to bottom, #9c8d5c 5%, #6d6c4f 100%); */
  background-color:#9c8d5c;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight: normal;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2b665e;
  font-family: var(--secondary-font);
  border-color: #6d6c4f;  
  letter-spacing: 1px;

}

button:hover{
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color:#6c7c7c;
}
    
button :active {
  position:relative;
  top:1px;
}

#dashboard_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: 100vh;
  width: 100vw;
}

#dashboard {
  font-family: var(--secondary-font);
  font-size: 24pt;
  color: white;
  margin-bottom: 20px;
}

#dashboard p {
  margin: 10px 0px 10px 10px;
}

#dashboard p span{
  color: rgb(0, 204, 0);
  font-weight: bold;
}

#dashboard_title {
  width: 100vw;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 36pt;
  color: white;
  margin-top: 40px;
}


#actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font);
  font-size: 24pt;
  color: white;
  width: 100vw;
  margin-bottom: 20px;
}

#actions button {
  width: 146px;
  background-color: white;
  color: var(--secondary-color);
  box-shadow: 0px 10px 14px -10px #000000;
  margin: 5px;

}

#actions .actionButton {
  text-decoration: none;
  width: 146px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form label {
  color: white;
  font-weight: bold;
  font-size: 18pt;
}

.form input {
  width: 300px;
  font-size: 18pt;
  border-radius: 8px;
  font-family: var(--secondary-font);
  font-size: 18pt;
  margin: 3px;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: var(--secondary-font);
}

.form button {
  margin-top: 5px;
}